{% extends "base_template2.html" %}
			{% block body %}
			<div class="featured">
				<a href="/"><img src="images/advertisement_1.jpg" alt=""/></a>
				<div class="gallery">
					<a href="/product/list/?shop=new&sort_by=created"><img src="images/new_arrival.jpg" alt=""/></a>
					<ul class="first">
						<li><a href="/product/list/?shop=yes&category_filter=NU_AO_KIEU"><img src="images/lady.jpg" alt=""/></a></li>
						<li><a href="/product/list/?shop=yes&category_filter=NUOC_HOA_MY_PHAM"><img src="images/perfume.jpg" alt=""/></a></li>
						<li><a href="/product/list/?shop=yes&category_filter=TRANG_SUC"><img src="images/jewelry.jpg" alt=""/></a></li>
					</ul>
					<ul>
						
						<li><a href="/product/list/?shop=yes&category_filter=NAM_AO_THUN"><img src="images/Men.jpg" alt=""/></a></li>
						<li><a href="/product/list/?shop=yes&category_filter=MAT_KIENG"><img src="images/glasses.jpg" alt=""/></a></li>
						<li><a href="/product/list/?shop=yes&category_filter=GIAY_DEP"><img src="images/giay.jpg" alt=""/></a></li>
						
					</ul>
				</div>
			</div>
			{%endblock body%}
